name: run
on: push
jobs:
  my_first_job:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          # 自己的私钥
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: 
#            docker images | grep stock | xargs docker rmi
#            docker build -t stock:v1 ./docker
              ifconfig
#              whoami